* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* ADD CSS Here */

header {
    height: 80px;
    width: 100%;
    padding: 0px 15px;
}

.header-left {
    float: left;
    margin-top: 25px;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

.header-right {
    float: right;
    line-height: 80px;
    display: block;
}

.header-right ul {
    display: flex;
    list-style: none;
}

.header-right a {
    padding: 0px 20px;
    color: white;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
}

.contact {
    color: hsl(212, 27%, 19%) !important;
    background-color: white;
    padding: 10px 20px !important;
    border-radius: 20px;
    font-family: 'Fraunces', serif !important;
    font-weight: 700;
}

.contact:hover {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s;
}

.top-wrapper {
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0px auto;
}

.top-wrapper h1 {
    font-size: 3rem;
    letter-spacing: 10px;
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin-top: 90px;
}

.top-icon {
    margin-top: 50px;
}

.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.about-item {
    width: 50%;
    /* border: 1px solid red; */
}

.about-content {
    margin: 130px 60px 100px 150px;
    max-width: 60%;
}

.about-content2 {
    margin: 130px 150px 100px 90px;
    max-width: 60%;
}

.about-item h2 {
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.about-item p {
    font-family: 'Barlow', sans-serif;
    color: hsl(232, 10%, 55%);
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 1rem;
}

.link {
    font-size: 0.8rem;
    text-transform: uppercase;
}

.transform {
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    border-bottom: 2px solid hsl(51, 100%, 49%);
}

.transform:hover {
    color: hsl(51, 100%, 49%);
    border-bottom: 2px solid hsl(212, 27%, 19%);
}

.standout {
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    border-bottom: 2px solid hsl(7, 99%, 70%);
}

.standout:hover {
    color: hsl(7, 99%, 70%);
    border-bottom: 2px solid hsl(212, 27%, 19%);
}

.about-image {
    height: 100%;
    width: 100%;
}

.service-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.service-item {
    width: 50%;
    text-align: center;
}

.graphic-design {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    height: 100%;
    background-size: cover;
    padding: 2em 0;
}

.photography {
    background-image: url(./images/desktop/image-photography.jpg);
    height: 100%;
    background-size: cover;
    padding: 2em 0;
}

.service-item h3 {
    font-family: 'Fraunces', serif;
    padding-top: 350px;
    font-size: 1.5rem;
}

.graphic-design h3 {
    color: hsl(167, 40%, 24%);
    margin-bottom: 20px;
}

.graphic-design p {
    color: hsl(167, 40%, 24%);
    font-size: 0.9rem;
    opacity: 0.8;
    font-family: 'Barlow', sans-serif;
}

.photography h3 {
    color: hsl(198, 62%, 26%);
    margin-bottom: 20px;
}

.photography p {
    color: hsl(198, 62%, 26%);
    font-size: 0.9rem;
    font-family: 'Barlow', sans-serif;
    opacity: 0.8;
}

.testimonial-wrapper {
    background-color: hsl(0, 0%, 100%);
    padding: 100px 0px;
}

.testimonial-wrapper h3 {
    color: hsl(210, 4%, 67%);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
}

.card {
    text-align: center;
    padding: 0px 30px;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 50px;
}

.comment {
    font-family: 'Barlow', sans-serif;
    font-size: 0.9rem;
    line-height: 20px;
    color: hsl(213, 9%, 39%);
    margin-bottom: 30px;
}

.name {
    font-family: 'Fraunces', serif;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 15px;
}

.job {
    font-family: 'Barlow', sans-serif;
    font-size: 0.8rem;
    color: hsl(210, 4%, 67%);
}

.gallery {
    display: flex;
    flex-direction: row;
}

.gallery img {
    width: 25%;
}

.footer {
    background-color: hsl(168, 63%, 51%);
    height: 300px;
    text-align: center;
    padding: 50px 0px;
}

.footer-logo {
    color: hsl(167, 40%, 24%);
    margin-bottom: 50px;
}

.footer-menu {
    margin-bottom: 50px;
}

.footer-menu a {
    margin: 0px 20px;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    color: hsl(168, 34%, 41%);
}

.footer-menu a:hover {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.footer-icon img {
    margin: 0px 20px;
}